@import url(./components/gallery/gallery.css);
@import url(./components/lightbox__popup/Lightbox.css);
.App {
  text-align: center;
  width: 90vw;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 30px;
}

.footer{
  margin-top: 25px;
}

